<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  colors="true"
  bootstrap="./tests/bootstrap.php"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  backupGlobals="false"
  stopOnFailure="false"
  cacheDirectory=".phpunit.cache"
  processIsolation="false"
  backupStaticProperties="false"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
  >
  <testsuites>
    <testsuite name="u">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="i">
      <directory suffix="Test.php">./tests/Cases</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./app</directory>
    </include>
  </source>
</phpunit>